<div class="row">
    <div class="col-md-12">
        <ul class="list">

            <li>
                <a routerLink="fromEvent">From Event</a>
            </li>
            <li>
                <a routerLink="interval">Interval/Timer</a>
            </li>
            <li>
                <a routerLink="ofFrom">Of & From</a>
            </li>

            <li>
                <a routerLink="toArray">toArray</a>
            </li>
            <li>
                <a routerLink="customObservable">Custom observable</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck</a>
            </li>
            <li>
                <a routerLink="filter">Filter</a>
            </li>
            <li>
                <a routerLink="tap">Tap</a>
            </li>
        </ul>
    </div>
</div>